# Python
__pycache__/
*.pyc
venv/

# React
node_modules/

# AI Models
*.pt

# Videos
*.mp4

# Output folders
backend/outputs/
backend/helmetless_snaps/
backend/mobile_use_snaps/

# OS files
.DS_Store
Thumbs.db